mixin table-contents(navigation)

  .table-contents
    .table-contents__content
      h3.table-contents__title= translations.tableOfContents
      ul.table-contents__list

        each item, index in navigation
          li.table-contents__item
            a.table-contents__number(href="#{item.page}")= index + 1
            a.table-contents__link(href="#{item.page}")= item.label