extends layout-base

block meta_title
  title!= currentSlide.title + ' | ' + meta.title

block page

  .slider-page

    .slider-page__actionbar

    // Action Bar
    //-----------
    .slider__actionbar

      // TODOS
      // Link to slides overview
      // Link to table of contents
      // Link to the next slide
      // Link to the previous slide
      // Link to share

    .slider-page__slide

      block slide